@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.info {
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
}
.notes {
	border: 1px solid purple;
	width: 70%;
	overflow: scroll;
	height: 100px;
	color: purple;
}
.actions {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	margin-bottom: 30px;
}