@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;	
}

.profilePageBody {
	background: rgb(195,55,100);
	background: linear-gradient(79deg, rgba(195,55,100,1) 0%, rgba(29,38,113,1) 100%);
}

.homePagePanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 25%;
	height: 100px;
	background: rgb(72,136,217);
	background: linear-gradient(255deg, rgba(72,136,217,1) 0%, rgba(27,255,255,1) 100%);
	border-radius: 20px;
	border: 1px solid #96aed0;
	box-shadow: 1px 1px 5px black;
}

.bottomHomePagePanel {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.homePageButton {
	background: rgb(118,75,162);
	background: linear-gradient(333deg, rgba(118,75,162,1) 0%, rgba(102,126,234,1) 100%);
	height: 30px;
	width: 80px;
	border: none;
	color: white;
	font-size: 20px;
	box-shadow: 1px 1px 5px black;
	border-radius: 5px;
}

.postsContainer {
	display: flex;
	flex-direction: column;
	align-items: center; 
	background-color: rgb(148 163 184);
	width: 45%;
	margin: 0 auto;
}

.postBackground {
	width: 75%;
}

.post {
	/* width: 50%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2%;
	margin-bottom: 10px;
	
}

.profilePic {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	box-shadow: 1px 1px 5px;
	margin: 2%;
}

.postTopNav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
	align-items: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.postMiddleNav {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background-color: black;
}

.postBottomNav {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
	color: white;
	width: 100%;
	height: 50%;
}