<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{user.first_name}}</h1>
    <a href="/logout">logout</a>
    <a href="/celebration/new">New Event</a>
    <table>
        <thead>
            <tr>
                <td>Event</td>
                <td>Date</td>
                <td>Host</td>
                <td>Comments</td>
            </tr>
        </thead>
        <tbody>
            {% for celebration in celebs %}
            <tr>
                <td><a href="/celebration/one/{{celebration.id}}">{{celebration.title}}</a></td>
                <td>{{celebration.when_at.strftime('%d-%m-%Y')}}</td>
                <td>{{celebration.planner.first_name}}</td>
                <td>{{celebration.comments}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>