<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{celebration.planner.first_name}} - {{celebration.title}}</title>
</head>
<body>
    <h2>{{celebration.title}}</h2>
    <p>{{celebration.when_at}}</p>
    <p>{{celebration.description}}</p>
    <p><a href="/dashboard">Back Home</a></p>
    <h4>Add Comment</h4>
    <form action="/comment/create" method="post">
        <input type="hidden" name="user_id" value="{{user.id}}">
        <input type="hidden" name="celebration_id" value="{{celebration.id}}">
        <textarea name="content" cols="30" rows="10"></textarea>
        <button>Comment</button>
    </form>
</body>
</html>